[build-system]
build-backend = 'mesonpy'
requires = [
    'meson_python>=0.17.1',
    'meson>=1.8.0',
]


[project]
name = 'protobuf'
readme = 'README.md'
requires-python = '>=3.12'
dynamic = ["version"]
authors = [
    {name = "Eugo, Inc."},
]